.container {
    padding: 1rem;
    width: 100%;
    margin: 0 auto;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* card css */
.cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    width: 80%;
    justify-content: center;
}

.card {
    background-color: #677797;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    height: 25vh;
    width: 30%;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    transition: 400ms;
}

.question {
font-size: 1em;
font-weight: 700;
}

p.category {
font-size: .9em;
}

.card:hover {
transform: scale(1.1, 1.1);
}

.cards:hover > .card:not(:hover) {
filter: blur(10px);
transform: scale(0.9, 0.9);
}


.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modalContent {
    background-color: #ffffff;
    padding: 2rem;
    border-radius: 12px;
    max-width: 600px;
    width: 80%;
    color: #333;
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
}

.modalQuestion {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.closeButton {
    margin-top: 1.5rem;
    background-color: #677797;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.deleteButton {
    margin-top: 1.5rem;
    background-color: #a95f50;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-right: 10px;
}

.deleteButton:hover {
    background-color: #542118;
}

.closeButton:hover {
    background-color: #505f78;
}


.pagination {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.pagination button {
    background-color: #677797;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.pagination button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.pagination span {
    font-weight: bold;
    color: #333;
}
